{% extends 'main/base.html' %}
{% load static %}
{% load goods_tags %}

{% block content %}
<div class="container mt-1 mb-5 me-5">
    <!-- Форма фильтров -->
    <div class="dropdown mb-2">
        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Filters
        </button>

        <form action="{% if request.GET.q %}{% url 'goods:search' %}
                      {% else %}{% url 'goods:catalog' category_slug %}
                      {% endif %}"
              method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
            <div class="form-check text-white mx-3">
                {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                {% endif %}
                <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on"
                    {% if request.GET.on_sale == 'on' %} checked {% endif %}>
                <label class="form-check-label" for="flexCheckDefault">
                    Discounted products
                </label>
            </div>
            <p class="text-white mx-3 mt-3">Sort:</p>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default"
                    {% if not request.GET.order_by or request.GET.order_by == 'default' %} checked {% endif %}>
                <label class="form-check-label" for="flexRadioDefault1">
                    Default
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price"
                    {% if request.GET.order_by == 'price' %} checked {% endif %}>
                <label class="form-check-label" for="flexRadioDefault2">
                    By price increasing
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price"
                    {% if request.GET.order_by == '-price' %} checked {% endif %}>
                <label class="form-check-label" for="flexRadioDefault3">
                    By price decreasing
                </label>
            </div>
            <button type="submit" class="btn btn-primary mx-3 mt-3">Apply</button>
        </form>
    </div>
    <h1 class="text-center bg-light"><strong>Our Collection</strong></h1>
    <div class="row z-1">
        {% for product in page_obj %}
            <div class="col-lg-3 col-md-6 px-5 z-1">
                <div class="card border-primary rounded custom-shadow">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% if product.image2 %}
                        <img src="{{ product.image2.url }}" class="card-img-top hover-image" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'images/image_not_found.jpg' %}" class="card-img-top hover-image"
                             alt="Second image not found">
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'goods:product' product.slug %}">
                            <p class="card-title">{{ product.name }}</p>
                        </a>
                        <p class="card-text text-truncate">{{ product.description }}</p>
                        <p class="product_id">id: {{ product.display_id }}</p>
                        <div class="d-flex justify-content-between">
                            {% if product.discount %}
                                <p><s>{{ product.price }}</s>$</p>
                                <p class="ms-2"><strong>{{ product.sell_price }}$</strong></p>
                                <span class="badge bg-warning text-dark">Скидка {{product.discount}} %</span>
                            {% else %}
                                <p><strong>{{ product.price }}</strong>$</p>
                            {% endif %}
                            <a href="#" class="btn add-to-cart">
                                <img class="mx-1" src="{% static 'icons/basket.png' %}" alt="Catalog Icon"
                                    width="32" height="32">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--  Page navigator  -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-4">
            <div class="custom-shadow d-flex rounded">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{% change_params page=page_obj.previous_page_number %}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                {% endif %}

                {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                        <li class="page-item">
                            {% if page == page_obj.number%}
                                <a class="page-link active" href="#"> {{ page }}</a>
                            {% else %}
                                <a class="page-link" href="?{% change_params page=page %}"> {{ page }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}


                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?{% change_params page=page_obj.next_page_number %}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
    <!--  End of page navigator  -->

            </div>
        </ul>
    </nav>
</div>
{% endblock %}
